.Table {
  font-family: inherit;
  font-size: 1rem;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
    font-size: 0.8em;
    height: 3.75em;
    align-items: center;
    padding: 0 0.5em;
    .filter {
      display: flex;
      align-items: center;
      & > * {
        margin-right: 1em;
        &:last-child {
          margin-right: 0;
        }
      }
      .button {
        min-width: 9.5em;
      }
    }
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border-color: grey;
    thead {
      display: table-header-group;
      vertical-align: middle;
      border-color: inherit;
      tr {
        th {
          padding: 1em 0.75em;
          text-align: left;
          vertical-align: bottom;
          font-size: 12px;
          font-weight: normal;
          color: #425a70;
          text-transform: uppercase;
        }
      }
    }
    tbody {
      display: table-row-group;
      vertical-align: middle;
      border-color: inherit;
      tr {
        border-top: 1px solid #e5e5e5;
        td {
          padding: 1em 0.75em;
          vertical-align: top;
          color: #425a70;
          font-size: 0.8em;
          button {
            margin-top: 0;
            margin-bottom:0;
          }
        }
      }
    }
  }
}
